body {
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background-color: blue;
  height: 150px;
  width: auto;
}

#top-header {
  background-color: rgb(10, 156, 112);
  height: 90px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
#logo-images {
  width: 150px;
  height: 20px;
}
#search {
  display: flex;
  width: 500px;
}
#search input {
  color: rgb(3, 1, 5);
  border: none;
  border-radius: 33px 0 0 33px;
  background-color: tan;
  padding: 11px 19px 11px 19px;
  width: 50%;
  outline: none;
  border-width: 3px;
  border-color: #ff3b00;
  border-style: solid;
}

#search button {
  border: none;
  color: white;
  background-color: #ff3b00;
  border-radius: 0 33px 33px 0;
  border-width: 3px;
  border-style: solid;
  border-color: #ff3b00;
  padding: 10px;
  width: 20%;
  /* height: 20%; */
  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
}

#search select {
  color: rgb(3 1 5 / 51%);
  background-color: tan;
  border-left: 1px solid darkgrey;
  width: 25%;
  border-color: #ff3b00;
  border-style: solid;
  border-width: 3px;
}

#icons {
  width: 200px;
  height: 25px;
  width: 20%;
  /* background-color: saddlebrown; */
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.far {
  color: #252424;
  font-size: 15pt;
  margin: 5px;
}
.fab {
  color: #252424;
  font-size: 15pt;
  margin: 5px;
}

.fas {
  color: #252424;
  font-size: 15pt;
  margin: 5px;
}

/* ///////////banners/////////// */

#bottom-header {
  background-color: rgb(226, 132, 9);
  height: 60px;
  width: auto;
}
/* ///////////////slider////////////// */
#slider img {
  width: 100%;
}

#buyer-protection {
  display: flex;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}
.icon-buyer-protection {
  /* background-color: rgb(221, 216, 216); */
  border-radius: 50%;
  padding: 10px 10px;
  margin-right: 8px;
  height: 25px;
  width: 26px;
  display: inline-block;
  box-shadow: 0px 1px 10px 0 #00000082;
}
.search_btn img {
  width: 30%;
  display: inline-block;
  /* height: 50%; */
}
main {
  background-color: rgb(184, 13, 93);
  min-height: 700px;
  width: 100%;
  /* display: flex; */
}
input {
}

button {
}
footer {
  background-color: rgb(3, 1, 5);
  height: 300px;
  width: auto;
}
/* ///////////banners///////////// */

.banners {
  display: flex;
  justify-content: space-evenly
}
.col-1 {
  display: ;
}
.col-2 {
  display: ;
}
.col-3 {
  display: ;
}
.col-4 {
  display: ;
}
.banners .child-1-col-1 {
  background-image: url(images/banners/col-1-child-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: chocolate;
  width: 335px;
  height: 200px;
  margin: 10px;
}
.banners .child-2-col-1 {
  background-image: url(images/banners/col-1-child-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: chocolate;
  width: 355px;
  height: 200px;
  margin: 10px;
  
}
.banners .child-1-col-2 {
  background-image: url(images/banners/col-2-child-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: chocolate;
  width: 335px;
  height: 200px;
  margin: 10px;
} 

.banners .child-2-col-2 {
  background-image: url(images/banners/col-2-child-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: chocolate;
  width: 335px;
  height: 200px;
  margin: 10px;
 
}
.banners .child-1-col-3 {
  background-image: url(images/banners/col-3-child-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: chocolate;
  width: 335px;
  height: 200px;
  margin: 10px;
 
}

.banners .child-2-col-3 {
  background-image: url(images/banners/col-3-child-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: chocolate;
  width: 335px;
  height: 200px;
  margin: 10px;
 
}