@import url("assets/fonts/timr45w.ttf");

@font-face {
  font-family: times;
  src: url("CSS/fonts/");
}

body {
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input,select,a,h4,button{
  font-family: times;
}

a {
  text-decoration: none;
  color: gray;
  width: -93px;
  height: 10px;
  display: inline-block;
  font-size: small;
   width: -14px; 
}
ul{
  /* list-style: none; */
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 8px;
}

#top-header {
  background-color: white;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
#logo-images {
  width: 150px;
  height: 20px;
  margin-left: 20px;
}
#search {
  display: flex;
  width: 50%;
  height: 37px;
  position: relative;
}
.search-input {
  color: rgb(3, 1, 5);
  border-radius: 33px 0 0 33px;
  border-right: none;
  padding: 11px 19px 11px 19px;
  width: 50%; 
  outline: none;
  border-width: 3px;
  border-color: #e35300;
  border-style: solid;
  margin-left: 8px;
  position: relative;
}
 .search-image{
  width: 21px;
  height: 16px;
  margin-top: 5px;
  padding: -11px;
  color: #333;
  position: absolute;
  left: 354px;
  top: 9px;
 }
.search-text{
  width: 26px;
  height: 12px;
  background-color: rgb(23 155 23);
  color: white;
  position: absolute;
  font-size: 8pt;
  position: absolute;
  left: 360px;
  top: -4px;
}
#search button {
  border: none;
  color: white;
  background-color: #e35300;
  border-radius: 0 33px 33px 0;
  border-width: 3px;
  border-style: solid;
  border-color: #e35300;
  padding: 10px;
  width: 20%;
  /* height: 20%; */
  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
}

#search select {
  color: rgb(3 1 5 / 51%);
  width: 25%;
  border-color: #e35300;
  border-style: solid;
  border-width: 3px;
  border-left: none;
}

#icons {
  height: 25px;
  /* margin: 10px; */
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  /* width: 25%; */
  padding: -1px 38px;
  /* margin-right: 10px; */
  /* margin-left: 36px; */
  width: 35%;
  align-content: stretch;
  align-items: center;
  
}
.icons-item {
  margin-left: 15px;
  text-align: center;
  position: relative;
}
.icons-item-user {
  display: flex;
}
.icons-text{
  /* padding: 7px 0; */
  
} 
.far {
  color: #252424;
  font-size: 15pt;
  margin: 5px;
}
.fab {
  color: #252424;
  font-size: 15pt;
  margin: 5px;
}

.fas {
  color: #252424;
  font-size: 15pt;
  margin: 5px;
}
.icons-item:hover{
  color: #e35300;
}
.icons-text:hover{
  color: #e35300;
}
.link-icons{
position: relative;
height: 55px;
display: inline-block;
}
.number{
  position: absolute;
  color: #e35300;
  padding: 0 -25px;
  font-size: 15px;
  top: -6px;
  left: 12px;
 }
.menu-icons{
  position: relative;
} 

.order-text{
  background-color: rgb(44 43 43 / 62%);
  color: white;
  width: 25px;
  height: 29px;
  position: sticky;
  padding: 2px 7px;
}
.box-icons{
  background-color: rgb(243 241 241);
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 0 10px 6px rgb(255 255 255);
  position: absolute;
  left: -58px;
  top: 50px; 
  width: 121px;
  color: gray;
  font-size: 8pt;
  /* display: none;  */
  z-index: 300px;
  
}
.message-login{
  background-color: #e35300;
  color: white;
  width: 95px;
  height: 24px;
  border-radius: 25px;
  margin: 3px;
}
.icons-item:hover .box-icons{
  display: block;
}


/* /////////// top nav  /////////// */
#bottom-header{
}
.nav-btm-header {
  display: flex;
  align-items: center;
  padding: 15px;
  height: 60px;
  background-color: rgb(243, 241, 241);
}
.nav-link:hover {
  color: #e35300;
}

.super-menu{
  position: relative;
    margin-left: 15px;
    padding: 15px;
}
.sub-menu{
  background: white;
  position: absolute;
  width: 200px;
  box-shadow: 0 0 5px #00000047;
  border-radius: 10px;
  padding: 19px;
  left: -20px;
  display: none;
}
.super-menu:hover .sub-menu{
  display: block;
}
/* ///////////////////main////////////////// */
main {
  background-color: rgb(82 78 99 / 17%);
  min-height: 700px;
  padding-top: 15px;

  /* display: flex; */
}

/* ///////////////slider////////////// */
#slider {
  display: flex;
  background-color: #ffffff;
  margin: 20px 30px;
  padding: 15px;
}

#left-category {
  width: 30%;
  margin-right: 10px;
}
#categories{
  padding: 0;
  
}
.title-left-category {
  border-bottom: rgb(240, 234, 234) solid 1px;
  padding: 5px 10px 15px 5px;
}

#slider-image {
  width: 50%;
  height: 70%;
  border-radius: 50px;
  box-shadow: 0 0 14px 14px black;  
}

#slider-image img {
  width: 100%;
  height: 100%; 
  overflow: hidden; 
}
.category-item {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  position: relative;
  
}
.icon-left-category {
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
  padding: 10px 10px;
  text-align: center;
  width: 30px;
}
#icon-left-category {
  width: 30px;
  height: 25px;
}

.fa-angle-right {
  color: gray;
  font-size: 10pt;
  margin-left: 8px;
  padding: 20px 75px;
}

.category-item:hover {
  background-color: rgb(180 179 176 / 14%);
  color: gray;
}

#buyer-protection {
  display: flex;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}
.icon-buyer-protection {
  /* background-color: rgb(221, 216, 216); */
  border-radius: 50%;
  padding: 5px 5px;
  margin-right: 8px;
  height: 25px;
  width: 26px;
  display: inline-block;
  box-shadow: 0px 1px 10px 0 #00000082;
  height: 18px;
  width: 35px;
}
.search_btn img {
  width: 30%;
  display: inline-block;
  /* height: 50%; */
}


footer {
  background-color: #333;
  height: 300px;
  
}

.box-category{
    display: flex;
    margin: 5px;
    width: 600px;
    padding: 12px 40px;
    box-shadow: 0px 1px 10px 0 #00000082;
    color: #333333c4;
    left: 330px;
    background-color: #f9f8f8f2;
    bottom: 1Opx;
    top: 0;
    z-index: 1px;
    position: absolute;
    justify-content: space-around;
    display: none; 

}

.left-category-list{
    list-style-type: none;
    font-size: 10pt;
    margin-left: 5px;
    padding-left: 0;
}


.category-item:hover .box-category{
    display: flex;
}
/* ///////////banners///////////// */

.banners {
  display: flex;
  justify-content: space-evenly;
}
.banners .child-1-col-1 {
  background-image: url("assets/images/banners/col-1-child-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: chocolate;
  width: 335px;
  height: 200px;
  margin: 10px;
  position: relative;
}
.banners-info{
  position: absolute;
  bottom: 0;
  width: 100%; 
  height: 100%;
  background-color: #292525;
  color: white;
  padding: 0px;
  opacity: 70%;
  justify-content: center;
  align-items: center;
  display: none;
  flex-direction: column;
  line-height: 3;
}
.banners .child-1-col-1:hover .banners-info{
  display: flex;
}
.banners .child-2-col-1 {
  background: url("images/banners/col-1-child-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: chocolate;
  width: 355px;
  height: 200px;
  margin: 10px;
}
.banners .child-1-col-2 {
  background-image: url(/assets/images/banners/col-1-child-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: chocolate;
  width: 335px;
  height: 200px;
  margin: 10px;
}

.banners .child-2-col-2 {
  background-image: url(images/banners/col-2-child-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: chocolate;
  width: 335px;
  height: 200px;
  margin: 10px;
}
.banners .child-1-col-3 {
  background-image: url(assets/images/banners/col-3-child-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: chocolate;
  width: 335px;
  height: 200px;
  margin: 10px;
}

.banners .child-2-col-3 {
  background-image: url(images/banners/col-3-child-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: chocolate;
  width: 335px;
  height: 200px;
  margin: 10px;
}
#top-footer {
  height: 100%;
  color: white;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 15px;
}
.nav-footer:hover{
  text-decoration: underline;
}


