body {
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
  color: gray;

  width: -93px;
  height: 10px;
  display: inline-block;
  font-size: small;
   width: -14px; 
}
ul{
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  /* background-color: blue;
  height: 150px; */
}

#top-header {
  background-color: white;
  height: 90px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
#logo-images {
  width: 150px;
  height: 20px;
  margin-left: 20px;
}
#search {
  display: flex;
  width: 50%;
  height: 37px;
}
#search input {
  color: rgb(3, 1, 5);
  border-radius: 33px 0 0 33px;
  border-right: none;
  padding: 11px 19px 11px 19px;
  width: 50%;
  outline: none;
  border-width: 3px;
  border-color: #e35300;
  border-style: solid;
}

#search button {
  border: none;
  color: white;
  background-color: #e35300;
  border-radius: 0 33px 33px 0;
  border-width: 3px;
  border-style: solid;
  border-color: #e35300;
  padding: 10px;
  width: 20%;
  /* height: 20%; */
  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
}

#search select {
  color: rgb(3 1 5 / 51%);
  width: 25%;
  border-color: #e35300;
  border-style: solid;
  border-width: 3px;
  border-left: none;
}

#icons {
  height: 25px;
  margin: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 25%;
  padding: 10px 30px;
}
.icons-item {
  margin-left: 15px;
  text-align: center;
}
.icons-item-user {
  display: flex;
}
 .icons-text {
  display: flex; 
  
} 
.far {
  color: #252424;
  font-size: 15pt;
  margin: 5px;
}
.fab {
  color: #252424;
  font-size: 15pt;
  margin: 5px;
}

.fas {
  color: #252424;
  font-size: 15pt;
  margin: 5px;
}
.icons-item:hover{
  color: #e35300;
}
.icons-text:hover{
  color: #e35300;
}
/* ///////////banners/////////// */

#bottom-header {
}

.nav-btm-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  padding: 15px;
  height: 60px;
  background-color: rgb(243, 241, 241);
}
.nav-link:hover {
  color: #e35300;
}
/* ///////////////////main////////////////// */
main {
  background-color: rgb(184, 13, 93);
  min-height: 700px;
  padding-top: 15px;

  /* display: flex; */
}

/* ///////////////slider////////////// */
#slider {
  display: flex;
  background-color: #ffffff;
  margin: 20px 30px;
  padding: 15px;
}

#left-category {
  width: 30%;
  margin-right: 10px;
}
.title-left-category {
  border-bottom: rgb(240, 234, 234) solid 1px;
  padding: 5px 10px 15px 5px;
}

#slider-image {
  width: 50%;
  height: 70%;
}
#slider-image img {
  width: 100%;
  height: 100%;
  padding: 20px;
  margin: 15px;
}
.category-item {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}
.icon-left-category {
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
  padding: 10px 10px;
  text-align: center;
  width: 30px;
}
#icon-left-category {
  width: 30px;
  height: 25px;
}

.fa-angle-right {
  color: gray;
  font-size: 10pt;
  margin-left: 8px;
  padding: 20px 75px;
}

.category-item:hover {
  background-color: rgb(180 179 176 / 14%);
  color: gray;
}

#buyer-protection {
  display: flex;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}
.icon-buyer-protection {
  /* background-color: rgb(221, 216, 216); */
  border-radius: 50%;
  padding: 5px 5px;
  margin-right: 8px;
  height: 25px;
  width: 26px;
  display: inline-block;
  box-shadow: 0px 1px 10px 0 #00000082;
  height: 18px;
  width: 35px;
}
.search_btn img {
  width: 30%;
  display: inline-block;
  /* height: 50%; */
}

input {
}

button {
}
footer {
  background-color: #333;
  height: 300px;
  
}
/* ///////////banners///////////// */

.banners {
  display: flex;
  justify-content: space-evenly;
}
.col-1 {
  display: ;
}
.col-2 {
  display: ;
}
.col-3 {
  display: ;
}
.col-4 {
  display: ;
}
.banners .child-1-col-1 {
  background-image: url(images/banners/col-1-child-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: chocolate;
  width: 335px;
  height: 200px;
  margin: 10px;
}
.banners .child-2-col-1 {
  background-image: url(images/banners/col-1-child-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: chocolate;
  width: 355px;
  height: 200px;
  margin: 10px;
}
.banners .child-1-col-2 {
  background-image: url(images/banners/col-2-child-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: chocolate;
  width: 335px;
  height: 200px;
  margin: 10px;
}

.banners .child-2-col-2 {
  background-image: url(images/banners/col-2-child-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: chocolate;
  width: 335px;
  height: 200px;
  margin: 10px;
}
.banners .child-1-col-3 {
  background-image: url(images/banners/col-3-child-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: chocolate;
  width: 335px;
  height: 200px;
  margin: 10px;
}

.banners .child-2-col-3 {
  background-image: url(images/banners/col-3-child-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: chocolate;
  width: 335px;
  height: 200px;
  margin: 10px;
}
#top-footer {
  height: 100%;
  color: white;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 15px;
}
.nav-footer{
  text-decoration: underline;
}