body {
  margin: 0px;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#top-header {
  background-color: aqua;
  width: auto;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  text-align: center;
}
#logo-image {
  width: 100px;
  height: 50px;
}
#search {
  display: flex;
  width: 50%;
}

#search input {
  background-color: beige;
  color: #333;
  border-color: orangered;
  border-radius: 10px 0 0 10px;
  border-radius: 18px 0 0 18px;
  width: 50%;
  padding: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: orangered;
  border-right: none;
}

#search button {
  background-color: orangered;
  border-radius: 0 18px 18px 0;
  border-color: orangered; 
  width: 128px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-content: stretch;
  flex-direction: row;
  align-items: center;
  border-style: solid;
  border-color: orangered;
  border-width: 3px;
  color: white; 
}
.search_btn img {
  width: 30px;
  display: inline-block;
}

#search select {
  border-color: orangered;
  background-color: beige;
  color: #333;
  padding: 5px 7px;
  width: 23%;
  border-width: 3px;
  border-style: solid;
  border-color: orangered;
  border-right: 1px;
}
#icons_topheader {
  display: flex;

  justify-content: space-around;
  align-items: center;
  height: 50px;
}
.icons_topheader {
  border-radius: 50%;
  padding: 10px 10px;
  margin-right: 8px;
  height: 25px;
  width: 26px;
  display: inline-block;
  box-shadow: 0px 1px 10px 0 #00000082; 
}

#bottom-header {
  background-color: rgb(199, 199, 32);
  width: auto;
  height: 60px;
}
main {
  background-color: cadetblue;
  /* height: 700px; */
  /* width: auto; */
  /* font-display: flex; */
}
#slider img {
  width: 100%;
  /* height: ; */
}

footer {
  background-color: brown;
  height: 300px;
  width: auto;
}
